.vscode
__pycache__

/target
*.pyd
*.dll
*.exe
*.so
*.pth

.ipynb_checkpoints
*.ipynb

/_draft

/mortal/grp
/mortal/__train_grp.py
/mortal/config copy.toml
/mortal/dataset.tar
/mortal/top_player_new.txt
/mortal/top_player.txt
/Dockerfile_compile